google-auth-oauthlib==0.4.6
google-auth==2.37.0
google-api-python-client==2.156.0
google-generativeai==0.8.3
gTTS==2.5.4
moviepy==1.0.3
Pillow==10.4.0
nltk==3.9.1
python-dotenv==1.0.1
requests==2.32.3
cachetools==5.5.0
click==8.1.8
decorator==4.4.2
joblib==1.4.2
proglog==0.1.10
proto-plus==1.25.0
protobuf==4.25.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.4
pydantic_core==2.27.2
pyparsing==3.2.1
regex==2024.11.6
tqdm==4.67.1
uritemplate==4.1.1
urllib3==2.3.0
httplib2==0.22.0
google-ai-generativelanguage==0.6.10
requests-oauthlib>=0.7.0
rsa<5,>=3.1.4
google-auth-httplib2<1.0.0,>=0.2.0
google-api-core!=2.0.,!=2.1.,!=2.2.,!=2.3.0,<3.0.0.dev0,>=1.31.5
typing-extensions
imageio<3.0,>=2.5
imageio_ffmpeg>=0.2.0
numpy>=1.17.3
charset-normalizer<4,>=2
idna<4,>=2.5
certifi>=2017.4.17
annotated-types>=0.6.0
googleapis-common-protos<2.0.dev0,>=1.56.2
grpcio<2.0dev,>=1.33.2
grpcio-status<2.0.dev0,>=1.33.2
oauthlib>=3.0.0
